@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");

// Fonts
$font-zilla: "Zilla Slab",
serif;
$font-abril: "Abril Fatface",
cursive;
$font-lobster: "Lobster",
cursive;
$font-aladin: "Aladin",
cursive;

//Size
$size-content: 22px;

// Color
$color-black: #030314;
$color-grey: #333333;
$color-white: #f2f2f2;

$primary-epc: #c5d8ab;
$secondary-epc: #9ab270;
$darker-epc: #839b4e;

$primary-snow: #dd949b;
$secondary-snow: #a32c38;
$darker-snow: #75282c;

$primary-event: #fde7b6;
$secondary-event: #df7833;
$darker-event: #9e5f19;

$primary-blue: #979fba;
$secondary-blue: #65659b;
$darker-blue: #424a63;

$color-lightblue: #89d2cb;
$color-snowblue: #33b3b2;
$color-tosca: #6fc0a3;
$color-brown: #e56848;
$color-pink: #c6384d;
$color-purple: #6b6bc1;

#loginForm {
    background: linear-gradient(120deg, $primary-snow 0, $primary-snow 50%,$primary-event 41%,$primary-event 50.6%, $secondary-blue 46.666%, $secondary-blue 100%);
    .container {
        min-height: calc(100vh - 85px);
        .login-logo {
            width: 300px;
            max-width: 100%;
        }
        .login-epw-2022 {
            width: 350px;
            max-width: 100%;
        }
        .login-form {
            width: 320px;
            max-width: 100%;
            .form-label {
                font-family: $font-zilla;
                color: $color-white;
            }
            .login-button {
                background-color: $darker-blue;
                color: $color-white;
                font-family: $font-zilla;
                font-weight: bold;
            }
            .login-register {
                font-family: $font-zilla;
                color: $color-white;
                letter-spacing: 1px;
                a {
                    color: inherit;
                    font-weight: bold;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #loginForm {
        img{
            width: 30%;
        }
        background: linear-gradient(185deg, $primary-snow 0, $primary-snow 50%,$primary-event 41%,$primary-event 50.6%, $secondary-blue 46.666%, $secondary-blue 100%);
    }
}