#loginForm {
    background: linear-gradient(120deg, $primary-epc 48%, $color-brown 48%);
    .container {
        min-height: calc(100vh - 85px);
        .login-logo {
            width: 300px;
            max-width: 100%;
        }
        .login-epw-2022 {
            width: 350px;
            max-width: 100%;
        }
        .login-form {
            width: 320px;
            max-width: 100%;
            .form-label {
                font-family: $font-zilla;
                color: $color-white;
            }
            .login-button {
                background-color: $darker-blue;
                color: $color-white;
                font-family: $font-zilla;
                font-weight: bold;
            }
            .login-register {
                font-family: $font-zilla;
                color: $color-white;
                letter-spacing: 1px;
                a {
                    color: inherit;
                    font-weight: bold;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #loginForm {
        background: linear-gradient(185deg, $primary-epc 65%, $color-brown 65%);
    }
}
