@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Zilla+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Zilla Slab", serif;
}

@media screen and (max-width: 576px) {
  * {
    font-size: 12px;
  }
}

html {
  scroll-behavior: smooth;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background-color: #424a63;
}

::-webkit-scrollbar-track {
  background-color: #fde7b6;
}

.epw-logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 100px;
}

#comingsoon {
  background-color: #c5d8ab;
  position: relative;
}

#comingsoon .comingsoon {
  min-height: 100vh;
  min-width: 100vw;
}

#comingsoon .comingsoon-title {
  font-family: "Abril Fatface", cursive;
  font-size: 4rem;
  color: #424a63;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#comingsoon .comingsoon-img {
  width: 300px;
  max-width: 100%;
  -webkit-filter: drop-shadow(-2px 2px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(-2px 2px 4px rgba(0, 0, 0, 0.25));
}

#notfound {
  background-color: #c5d8ab;
  position: relative;
}

#notfound .notfound {
  min-height: 100vh;
  min-width: 100vw;
}

#notfound .notfound-title {
  font-family: "Abril Fatface", cursive;
  color: #424a63;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#notfound .notfound-404 {
  display: block;
  font-size: 4rem;
}

#notfound .notfound-desc {
  display: block;
  font-size: 3rem;
}

@media screen and (max-width: 576px) {
  .epw-logo {
    width: 70px;
  }
}

nav.navbar {
  background-color: #424a63;
  color: #fde7b6;
  height: 85px;
  z-index: 5;
}

nav.navbar .navbar-rainbow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 85px;
  content: "";
  margin-right: 2rem;
}

nav.navbar .navbar-rainbow .rainbow {
  width: 30px;
  height: inherit;
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
}

nav.navbar .navbar-rainbow .rainbow:nth-of-type(1) {
  background-color: #839b4e;
}

nav.navbar .navbar-rainbow .rainbow:nth-of-type(2) {
  background-color: #fde7b6;
}

nav.navbar .navbar-rainbow .rainbow:nth-of-type(3) {
  background-color: #e56848;
}

nav.navbar .navbar-rainbow .rainbow:nth-of-type(4) {
  background-color: #a32c38;
}

nav.navbar button.navbar-toggler .fas {
  color: #fde7b6;
}

nav.navbar .navbar-nav {
  background-color: #424a63;
}

nav.navbar .navbar-nav .nav-link {
  display: inline-block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 1.25rem;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: inherit;
  margin: auto 0;
}

nav.navbar .navbar-nav .dropdown .dropdown-menu {
  background-color: #65659b;
  border-color: #424a63;
}

nav.navbar .navbar-nav .dropdown .dropdown-menu a.dropdown-item {
  color: #fde7b6;
}

#loginForm {
  background: linear-gradient(120deg, #dd949b 0, #dd949b 50%, #fde7b6 41%, #fde7b6 50.6%, #65659b 46.666%, #65659b 100%);
}

#loginForm .container {
  min-height: calc(100vh - 85px);
}

#loginForm .container .login-logo {
  width: 300px;
  max-width: 100%;
}

#loginForm .container .login-epw-2022 {
  width: 350px;
  max-width: 100%;
}

#loginForm .container .login-form {
  width: 320px;
  max-width: 100%;
}

#loginForm .container .login-form .form-label {
  font-family: "Zilla Slab", serif;
  color: #f2f2f2;
}

#loginForm .container .login-form .login-button {
  background-color: #424a63;
  color: #f2f2f2;
  font-family: "Zilla Slab", serif;
  font-weight: bold;
}

#loginForm .container .login-form .login-register {
  font-family: "Zilla Slab", serif;
  color: #f2f2f2;
  letter-spacing: 1px;
}

#loginForm .container .login-form .login-register a {
  color: inherit;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  #loginForm {
    background: linear-gradient(185deg, #dd949b 0, #dd949b 50%, #fde7b6 41%, #fde7b6 50.6%, #65659b 46.666%, #65659b 100%);
  }
  #loginForm img {
    width: 30%;
  }
}

body {
  background: #DD949B;
}

body .verif {
  background: #DD949B;
  padding-bottom: 5rem;
}

body .verif img {
  width: 20%;
}

@media (min-width: 321px) and (max-width: 450px) {
  body .verif img {
    width: 40%;
  }
}

body .verif .text {
  font-family: "Abril Fatface", cursive;
  font-style: normal;
  text-align: center;
  color: #424A63;
  padding-top: 4rem;
}

body .verif .text p {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: bold;
}

@media (min-width: 321px) and (max-width: 450px) {
  body .verif .text {
    padding-top: 2rem;
  }
  body .verif .text p {
    padding-top: 1rem;
    font-size: 1.2rem;
    line-height: 1rem;
  }
}

#loginForm {
  background: linear-gradient(120deg, #c5d8ab 48%, #e56848 48%);
}

#loginForm .container {
  min-height: calc(100vh - 85px);
}

#loginForm .container .login-logo {
  width: 300px;
  max-width: 100%;
}

#loginForm .container .login-epw-2022 {
  width: 350px;
  max-width: 100%;
}

#loginForm .container .login-form {
  width: 320px;
  max-width: 100%;
}

#loginForm .container .login-form .form-label {
  font-family: "Zilla Slab", serif;
  color: #f2f2f2;
}

#loginForm .container .login-form .login-button {
  background-color: #424a63;
  color: #f2f2f2;
  font-family: "Zilla Slab", serif;
  font-weight: bold;
}

#loginForm .container .login-form .login-register {
  font-family: "Zilla Slab", serif;
  color: #f2f2f2;
  letter-spacing: 1px;
}

#loginForm .container .login-form .login-register a {
  color: inherit;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  #loginForm {
    background: linear-gradient(185deg, #c5d8ab 65%, #e56848 65%);
  }
}

body .badan {
  background: #DD949B;
  width: 100vw;
  margin-top: -5rem;
  z-index: 1000;
  border-radius: 2rem;
  margin-bottom: 8rem;
  padding-bottom: 7rem;
}

body .badan .Team-name p {
  font-family: Zilla Slab;
  font-style: normal;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding-top: 6rem;
  color: #A32C38;
}

body .badan .Team-from {
  margin-top: 2rem;
}

body .badan .Team-from p {
  font-family: Zilla Slab;
  font-style: normal;
  font-size: 1.5rem;
  margin-top: -1.2rem;
  text-align: center;
  color: #424A63;
}

body .badan .Team-No {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

body .badan .Team-No p {
  font-family: Zilla Slab;
  font-style: normal;
  font-size: 1.5rem;
  margin-top: -1.2rem;
  text-align: center;
  color: #424A63;
}

body .badan a {
  margin-bottom: 5rem;
  font-family: Zilla Slab;
  background-color: #424A63;
}

body .badan .abstrak-sub {
  margin-top: 2rem;
  margin-left: auto;
  width: 60vw;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-radius: 0.5rem;
  background: #424A63;
}

body .badan .abstrak-sub .abs-text p {
  position: relative;
  font-family: Zilla Slab;
  color: #FDE7B6;
  font-size: 1.75rem;
  padding-top: 25%;
  padding-bottom: auto;
  text-align: center;
}

body .formside .bb {
  padding-top: 20%;
  margin-bottom: 4rem;
}

@media (min-width: 321px) and (max-width: 450px) {
  body .formside .bb {
    padding-top: 10%;
    margin-bottom: 4rem;
  }
}

body .formside .bb .form {
  padding-right: 2rem;
  padding-left: 4rem;
  padding-top: 2rem;
}

@media (min-width: 321px) and (max-width: 450px) {
  body .formside .bb .form {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

@media (min-width: 321px) and (max-width: 450px) {
  body .formside .bb .form .custom-file-input {
    color: transparent;
  }
}

body .formside .bb .form .custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

body .formside .bb .form .custom-file-input::before {
  color: #A32C38;
  content: "Masukkan file";
  padding-left: 2rem;
}

@media (min-width: 321px) and (max-width: 450px) {
  body .formside .bb .form .custom-file-input::before {
    content: "Masukkan file";
  }
}

body .formside .bb .form .custom-file-input:active {
  outline: 0;
}

body .formside .bb .form img {
  margin-top: 1rem;
  margin-left: 45%;
  margin-right: auto;
}

body a {
  padding-top: 1rem;
  color: #FFFFFF;
  padding-left: 5rem;
  font-family: Zilla slab;
  font-size: 1.3rem;
}

@media (min-width: 321px) and (max-width: 450px) {
  body a {
    padding-left: 3rem;
    font-size: 1.1rem;
  }
}

body .kunci {
  padding-left: 1rem;
  color: #FFFFFF;
}

@media (min-width: 321px) and (max-width: 450px) {
  body .kunci {
    font-size: 1rem;
  }
}

body .submit-btn {
  margin-top: -2.5rem;
  padding-left: 75%;
}

@media (min-width: 321px) and (max-width: 450px) {
  body .submit-btn {
    margin-top: 2rem;
    padding-left: 30%;
  }
}

body .submit-btn button {
  border-radius: 0.5rem;
  background-color: #FDE7B6;
  font-family: Zilla Slab;
  color: #75282C;
}

.body {
  background-color: #dd949b;
}

.content {
  padding-left: 20vw;
  padding-right: 20vw;
}

.agreement {
  padding-left: 20vw;
  padding-right: 20vw;
  padding-bottom: 5rem;
}

.agreement button {
  background-color: #424a63;
  color: #fde7b6;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  font-weight: bolder;
}

.agreement label {
  color: #424a63;
}

.upload {
  padding-left: 20vw;
  padding-right: 20vw;
}

.upload input {
  background: #fde7b6;
  padding-top: 0px;
  padding-bottom: 0px;
  border-color: #fde7b6;
  border: none;
}

.upload input:focus {
  background: #fde7b6;
}

.upload label {
  color: #424a63;
}

.upload b {
  color: #424a63;
}

.upload .plus {
  cursor: pointer;
  position: relative;
  z-index: 2;
  float: right;
  margin-top: -38px;
  margin-right: 19px;
}

.container {
  display: block;
}

.line {
  display: inline-block;
  border-bottom: 1px solid black;
}

.gambar img {
  margin-top: 7rem;
  margin-bottom: 6rem;
}

.container .content {
  padding-left: 15rem;
  padding-right: 15rem;
}

.content input {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fde7b6;
  border-color: #fde7b6;
}

.content input:focus {
  background: #fde7b6;
}

.content label {
  color: #424a63;
}

.content b {
  color: #424a63;
}

.line {
  display: inline-block;
  border-bottom: 1px solid black;
}

.custom-file-input {
  color: transparent;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  color: #65659B;
  display: inline-block;
  background: #fde7b6;
  border-radius: 3px;
  width: 100%;
  white-space: nowrap;
  cursor: pointer;
}

.custom-file-input:hover::before {
  border-color: black;
}

.custom-file-input:active {
  outline: 0;
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
/*# sourceMappingURL=style.css.map */